/* Portals to Zebes */
/*  Active */
.chest.portal-metroid3.active {
    background-image: url(../images/zelda3/chests/warp.gif) !important;
}
/*  Inactive */
.chest.portal-metroid3.inactive {
    background-image: url(../images/zelda3/chests/inactivewarp.gif) !important;
}

/* Portals to Hyrule */
/*  Active */
.chest.portal-zelda3.active {
    background-color: #aaffaa;
    background-image: url(../images/metroid3/chests/warp.gif) !important;
}
.zelda3 .chest.portal-zelda3.active,
.icons-nothing .chest.portal-zelda3.active {
    background-image: url(../images/metroid3/chests/icons-noicons/warp.png) !important;
}
/*  Inactive */
.chest.portal-zelda3.inactive {
    background-color: #ffaaff;
    background-image: url(../images/metroid3/chests/inactivewarp.gif) !important;
}
.zelda3 .chest.portal-zelda3.inactive,
.icons-nothing .chest.portal-zelda3.inactive {
    background-image: url(../images/metroid3/chests/icons-noicons/nowarp.png) !important;
}
