.averge1 .chest.unavailable,
.averge1 .chest.available,
.averge1 .chest.opened,
.averge1 .legend *,
.averge1 .chest.unavailable,
.averge1 .chest.available,
.averge1 .chest.opened,
.averge1 .legend * {
    background-repeat: no-repeat;
}

.averge1 .chest.unavailable,
.averge1 .legend .unavailable {
    background-image: url(../../images/averge1/chests/unavailable.png) !important;
}
.averge1 .chest.available,
.averge1 .legend .available {
    background-image: url(../../images/averge1/chests/available.png) !important;
}
.averge1 .chest.opened,
.averge1 .legend .opened {
    background-image: url(../../images/averge1/chests/opened.png) !important;
}
