.averge1 .mapdiv {
    background: url(../../../images/averge1/maps/map.png) no-repeat;
    width: 1260px;
    height: 1170px;
    top: 0;
    left: 0;
    position: absolute;
}

.averge1 .itemdiv {
    left: 500px;
    z-index: 10;
}

.averge1 .chest {
    background-size: 16px 16px;
    width: 16px !important;
    height: 16px !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
}
