
<html lang="en">
    <head>
        <title>Item Tracker</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">

        <script src="script/shared.js"></script>
        <script src="script/items.js"></script>
        <script src="script/includes.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    </head>

    <body>
    	<div id='selectGame'>
    		[ <a href="?game=zelda3">ALttPR</a> | <a href="?game=metroid3">SM</a> ]
    	</div>
        <div id='layoutdiv'>
            <div id='itemdiv' class='itemdiv'>
                <tracker-table v-if="displayVueMap" :item-rows="itemRows" :tracker-data="trackerData" :tracker-options="trackerOptions"></tracker-table>
            </div>
            <div id='mapdiv' class='mapdiv'>
            </div>
        </div>
        <div width='100%' id="caption">
            &nbsp;
        </div>

        <!-- Setting panel-->

        <button id='settingsbutton' type='button' onclick='showSettings(this)'>🔧</button>
        <fieldset id='settings' class='settings'>
            <legend>Settings</legend>
            <fieldset>
                <legend>Item Tracker</legend>
                <button type="button" onclick="EditMode()">Edit Mode</button>
                <br>
                Size<input type="range" name='itemdivsize' value='100' max='200' min='1' onchange="setZoom('itemdiv', this)">
                <span id='itemdivsize'>100%</span><br>
                <fieldset>
                    <legend>Dungeon Display</legend>
                    <input type="checkbox" name="showchest" checked='checked' onchange="showChest(this)">Chests
                    <input type="checkbox" name="showcrystal" checked='checked' onchange="showCrystal(this)">Prizes
                    <input type="checkbox" name="showmedallion" checked='checked' onchange="showMedallion(this)">Medals<br>
                    <input type="checkbox" name="showlabel" checked='checked' onchange="showLabel(this)">Dungeon Labels
                </fieldset>
            </fieldset>
            <fieldset>
                <legend>Map Tracker</legend>
                <input type="checkbox" name="showmap" checked='checked' onchange="showTracker('mapdiv', this)">Enabled<br>
                Size<input type="range" name='mapdivsize' value='100' max='200' min='1' onchange="setZoom('mapdiv', this)">
                <span id='mapdivsize'>100%</span><br>
                Position:
                <input type='radio' name='mapposition' value='Below' checked='checked' onclick="setOrder(true)">Below
                <input type='radio' name='mapposition' value='Side' onclick="setOrder(false)">Side<br>
                Orientation:
                <input type='radio' name='maporientation' value='Horizontal' checked='checked' onclick="setMapOrientation(false)">Horizontal
                <input type='radio' name='maporientation' value='Verical' onclick="setMapOrientation(true)">Vertical<br>
                <fieldset>
                    <legend>Logic Options</legend>
                    <!-- Zelda 3 -->
                    <div class='openMode'><input type='checkbox' name='openmode' checked='' onchange='setOpenMode(this)'>Open Mode</div>
                    <div class='glitchless'><input type='radio' name='maplogic' value='glitchless' checked='checked' onclick='setLogic("glitchless")'>Glitchless</div>
                    <div class='owGlitches'><input type='radio' name='maplogic' value='owGlitches' onclick='setLogic("owGlitches")'>Overworld Glitches</div>
                    <div class='majorGlitches'><input type='radio' name='maplogic' value='majorGlitches' onclick='setLogic("majorGlitches")'>Major Glitches</div>

					<!-- Metroid 3 -->
                    <div class='casualLogic'><input type='radio' name='maplogic' value='casualLogic' checked='checked' onclick='setLogic("casualLogic")'>Casual Logic</div>
                    <div class='tourneyGlitches'><input type='radio' name='maplogic' value='tourneyGlitches checked='checked'' onclick='setLogic("tourneyLogic")'>Tournament Logic</div>
                </fieldset>
                <fieldset>
                    <legend>Chest Legend</legend>
                    <table border="0" cellspacing="0">
                        <tr>
                            <th class="available">Available</th>
                            <th class="glitchavailable">Glitch Available</th>
                        </tr>
                        <tr>
                            <th class="possible">Possible</th>
                            <th class="glitchpossible">Glitch Possible</th>
                        </tr>
                        <tr>
                            <th class="agahnim">Agahnim Defeated</th>
                            <th class="glitchagahnim">Glitch Agahnim</th>
                        </tr>
                        <tr>
                            <th class="unavailable">Unavailable</th>
                            <th class="opened">Opened</th>
                        </tr>
                    </table>
                </fieldset>
            </fieldset>
            <footer id="credits">Lttp Rando Tracker - <a href="https://www.twitch.tv/hyphen_ated">hyphen</a>'s version
                (major credits: <a href="https://twitter.com/pickfifteen">pickfifteen</a>, <a href="https://www.twitch.tv/crossproduct">crossproduct</a>, <a href="https://www.twitch.tv/testrunner">testrunner</a>, <a href="https://www.twitch.tv/marcmagus">marcmagus</a>)
            </footer>
        </fieldset>

        <table id='itemconfig' class='itemconfig' style='display:none'></table>

        <script type="text/x-template" id="tracker-table">
            <div class="vueTrackerTable" :style="{ backgroundColor: 'black'}">
                <div v-for="(itemRow, itemRowIndex) in itemRows" :key="itemRowIndex">
                    <div :style="{ width: (maxRowLength - itemRow.length) * 32 + 'px', display:'inline-block' }" class="rowSpacer"></div>
                    <tracker-cell v-for="(item, itemColumnIndex) in itemRow" :itemName="item" :itemValue="itemFor(item)"
                    :column-index="itemColumnIndex" :row-index="itemRowIndex"
                    :tracker-data="trackerData" :tracker-options="trackerOptions" :key="itemColumnIndex + '-' + itemRowIndex"></tracker-cell>
                    <button v-if="trackerOptions && trackerOptions[selectedGame].editmode" @click.prevent.stop="removeItem(itemRowIndex)"
                        :style="{backgroundColor: 'red', color: 'white', verticalAlign: 'top', marginTop: '20px'}">-</button>
                    <button v-if="trackerOptions && trackerOptions[selectedGame].editmode" @click.prevent.stop="addItem(itemRowIndex)"
                        :style="{backgroundColor: 'green', color: 'white', verticalAlign: 'top', marginTop: '20px'}">+</button>
                </div>
                <button v-if="trackerOptions && trackerOptions[selectedGame].editmode" @click.prevent.stop="addRow">Add row</button>
            </div>
        </script>

        <script type="text/x-template" id="tracker-cell">
            <div :style="{ height: '64px', width: '64px', display:'inline-block', backgroundImage: backgroundImage, position: 'relative', backgroundSize: '64px 64px', imageRendering: 'pixelated' }"
             :title="itemLabel"
             :class="isActive ? 'true' : 'false'" @click.stop="clickCellForward" @contextmenu.prevent.stop="clickCellBack">
                <span v-if="dungeonLabel" class="corner" :style="{ display: 'block', position: 'absolute'}">{{ dungeonLabel }}</span>
                <span v-if="textCounter !== null" class="textCounter">{{ textCounter }}</span>
                <span v-if="chestImage" @click.stop="clickChestBack" @contextmenu.prevent.stop="clickChestForward" :class="'chestImage'" :style="{ display: 'block', position: 'absolute', height: '32px', width: '32px', top: '32px', backgroundImage: chestImage, backgroundSize: '32px 32px' }"></span>
                <span v-if="prizeImage" @click.stop="clickPrizeForward" @contextmenu.prevent.stop="clickPrizeBack" :class="'prizeImage'" :style="{ display: 'block', position: 'absolute', height: '32px', width: '32px', top: '32px', left: '32px', backgroundImage: prizeImage, backgroundSize: '32px 32px' }"></span>
                <span v-if="medallionImage" @click.stop="clickMedallionForward" @contextmenu.prevent.stop="clickMedallionBack" :class="'medallionImage'" :style="{ display: 'block', position: 'absolute', height: '32px', width: '32px', left: '32px', backgroundImage: medallionImage, backgroundSize: '32px 32px' }"></span>
            </div>
        </script>
        <script src="script/main.js"></script>
        <script>
            init(initTracker);
        </script>
    </body>
</html>

