.metroid1 .mapdiv {
    background: url(../../../images/metroid1/maps/map.png) no-repeat;
    width: 630px;
    height: 651px;
    top: 20px;
    left: 350px;
    position: absolute;
}

.metroid1 .metroid3-option {
    display: none;
}
