.metroid3 .boss {
    margin-left: 5px;
    margin-top: 5px;
}
.metroid3 .dungeon {
    width: 33px;
    height: 33px;

    margin-left: 0;
    margin-top: 0;
}
.metroid3 .chest {
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    margin-left: 0;
    margin-top: 0;
}
.metroid3 .chest.unavailable,
.metroid3 .chest.available,
.metroid3 .chest.opened,
.metroid3 .legend * {
    background-repeat: no-repeat;
}
.metroid3 .chest.unavailable,
.metroid3 .legend .unavailable {
    background-image: url(../../images/metroid3/chests/unavailable.png) !important;
}
.metroid3 .chest.available,
.metroid3 .legend .available {
    background-image: url(../../images/metroid3/chests/available.png) !important;
}
.metroid3 .chest.opened,
.metroid3 .legend .opened {
    background-image: url(../../images/metroid3/chests/opened.png) !important;
}
.metroid3 .icons-itemball-nolights .chest.unavailable,
.metroid3 .legend.icons-itemball-nolights .unavailable {
    background-image: url(../../images/metroid3/chests/icon-itemball-nolights/unavailable.png) !important;
}
.metroid3 .icons-itemball-nolights .chest.available,
.metroid3 .legend.icons-itemball-nolights .available {
    background-image: url(../../images/metroid3/chests/icon-itemball-nolights/available.png) !important;
}
.metroid3 .icons-itemball-nolights .chest.opened,
.metroid3 .legend.icons-itemball-nolights .opened {
    background-image: url(../../images/metroid3/chests/icon-itemball-nolights/opened.png) !important;
}
.metroid3 .icons-nothing .chest.available,
.metroid3 .icons-nothing .chest.unavailable,
.metroid3 .icons-nothing .chest.opened,
.metroid3 .legend.icons-nothing .available,
.metroid3 .legend.icons-nothing .unavailable,
.metroid3 .legend.icons-nothing .opened {
    background-image: url() !important;
}
.metroid3 .icons-nothing .chest.available,
.metroid3 .icons-nothing .chest.unavailable,
.metroid3 .icons-nothing .chest.opened {
    border: 1px solid #000000;
}

.metroid3 .chest.available.spicy {
    background-image: url(../../images/metroid3/chests/icon-itemball-spicy/available.gif) !important;
    border: 0;
}
.metroid3 .chest.unavailable.spicy {
    background-image: url(../../images/metroid3/chests/icon-itemball-spicy/unavailable.gif) !important;
    border: 0;
}
.metroid3 .icons-itemball-nolights .chest.available.spicy,
.metroid3 .icons-itemball-nolights .chest.unavailable.spicy,
.metroid3 .icons-nothing .chest.available.spicy,
.metroid3 .icons-nothing .chest.unavailable.spicy {
    background-image: url(../../images/metroid3/chests/icons-noicons/noicons-spicy.png) !important;
    border: 0;
}

.metroid3 .legend th {
    width: 260px;
}
