.zelda3-regions #beta {
  display: block !important;
}

.zelda3 .mapvdiv #mapoverlay.on,
.zelda3.inverted .mapvdiv #mapoverlay.on {
  background-image: url(../../../images/zelda3/maps/mapvregions.png);
}

.zelda3.zelda3-oldstyle .zelda3-regions {
  display: none;
}

.zelda3.zelda3-regions .zelda3-oldstyle {
  display: none;
}

.zelda3 .mapdiv,
.zelda3 .mapdiv #mapoverlay {
  background: url(../../../images/zelda3/maps/map.png) no-repeat;
  width:      884px;
  height:     442px;
}

.zelda3 .mapvdiv,
.zelda3 .mapvdiv #mapoverlay {
  background: url(../../../images/zelda3/maps/mapv.png) no-repeat;
  width:      438px;
  height:     888px;
}

.zelda3.inverted .mapdiv,
.zelda3.inverted .mapdiv #mapoverlay {
  background: url(../../../images/zelda3/maps/invertedmap.png) no-repeat;
  width:      884px;
  height:     442px;
}

.zelda3.inverted .mapvdiv,
.zelda3.inverted .mapvdiv #mapoverlay {
  background: url(../../../images/zelda3/maps/invertedmapv.png) no-repeat;
  width:      438px;
  height:     888px;
}

.zelda3 .mapdiv #mapoverlay.on,
.zelda3.inverted .mapdiv #mapoverlay.on {
  background-image: url(../../../images/zelda3/maps/mapregions.png);
}

.zelda3 .legend th {
  width: 130px;
}
