.metroid3 .flexreverse .itemdiv {
    top: 660px;
    left: 0;
    z-index: 100;
    position: absolute;
}
.metroid3 .metroid3-accessibility {
    display: none;
}
.metroid3.metroid3-accessibility .metroid3-accessibility {
    display: inline;
}
.metroid3 .mapdiv,
.metroid3 .mapdiv #mapoverlay {
    background: url(../../../images/metroid3/maps/map.png) no-repeat;
    width: 1200px;
    height: 1020px;
    top: 0;
    left: 0;
    position: absolute;
}
.metroid3 .mapdiv #mapoverlay.on {
    background-image: url(../../../images/metroid3/maps/mapregions.png) !important;
}
.metroid3 .metroid1-option {
    display: none;
}
